<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jqy.prot.mapper.AttrValueMapper">

    <!--查询总条数-->
    <select id="getCount" parameterType="com.jqy.prot.model.vo.AttrValueVo" resultType="java.lang.Integer">
        select count(*) from t_attr_value
    </select>

    <!--查询分页数据-->
    <select id="getData" parameterType="com.jqy.prot.model.vo.AttrValueVo" resultType="com.jqy.prot.model.po.AttrValue">
        SELECT * from t_attr_value
        limit ${size*(current-1)},#{size}
    </select>

    <!--新增-->
    <insert id="add" parameterType="com.jqy.prot.model.po.AttrValue" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_attr_value (attrId,value,valueName,createDate,updateDate,author)
        value (#{attrId},#{value},#{valueName},SYSDATE(),SYSDATE(),#{author})
    </insert>



</mapper>
